ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #8A2BE2;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #8A2BE2;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #8A2BE2;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #8A2BE2;}

.dropdown:hover .dropdown-content {
  display: block;
}
span{
  color:black;
  background-color:blue;
}

p {
 color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
 margin: 2px 125px; 
}

ol {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 125px;
  
}
  a:link {
  color: red;
}
a:visited {
  color: black;
}
a:hover {
  color: red;
}
 
 body{
  background: url(https://cdn.glitch.global/8b036c8e-3ff9-40c1-a39d-847565c3b20d/10906277.jpg?v=1664883446264);
  background-repeat:no-repeat;
  background-size: 1906px 1080px;
}
.home {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 650px;
  display: flex;
 justify-content: center;
}
.wiebenik {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 810px;
  display: flex;
 justify-content: center;
}
.hobbys {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 510px;
  display: flex;
 justify-content: center;
}
.links {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 510px;
  display: flex;
 justify-content: center;
}
.contact {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 510px;
  display: flex;
 justify-content: center;
}
.imagegallery {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 510px;
  display: flex;
 justify-content: center;
}
.opdrachten {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 510px;
  display: flex;
 justify-content: center;
}
