button {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
 margin: 4px;
  
  .container
  {
  position: absolute;
    top50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .button
  {
    position: relative;
  
    
    
span{
  color:black;
  background-color:blue;
}

p {
 color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
 margin: 2px 125px; 
}

ol {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 125px;
  
}
  a:link {
  color: red;
}
a:visited {
  color: black;
}
a:hover {
  color: red;
}
 
 body{
  background: url(https://cdn.glitch.global/8b036c8e-3ff9-40c1-a39d-847565c3b20d/10906277.jpg?v=1664883446264);
  background-repeat:no-repeat;
  background-size: 1906px 1080px;
}
.home {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 510px;
  display: flex;
 justify-content: center;
}
.wiebenik {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 510px;
  display: flex;
 justify-content: center;
}
.hobbys {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 510px;
  display: flex;
 justify-content: center;
}
.links {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 510px;
  display: flex;
 justify-content: center;
}
.contact {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 510px;
  display: flex;
 justify-content: center;
}
.imagegallery {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 510px;
  display: flex;
 justify-content: center;
}
.opdrachten {
  color:black;
  background-color:#8A2BE2;
  border-style:solid;
  border-color: #000000;
  border-width: 4px;
  margin: 2px 510px;
  display: flex;
 justify-content: center;
}

.dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        
        min-width: 40px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }